<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="proyecto.dao.mybatis.mappers.AsignaturaMapper">
    
    <select parameterType="map" id="consultarAsignaturas" resultMap="AsignaturaResult">
        SELECT
        
        asi.id,
        asi.nombre,
        
        pos.id as POS_id,
        pos.nombre as POS_nombre,
        pos.creditos as POS_creditos
        
	FROM asignatura as asi
        join posgrado as pos on asi.posgrado_id=pos.id;
        
    </select>
    
    <select parameterType="map" id="consultarAsignaturasXposgrado" resultMap="AsignaturaResult">
        SELECT
        
        asi.id,
        asi.nombre
        
	FROM asignatura as asi
        join posgrado as pos on asi.posgrado_id=pos.id
        WHERE pos.nombre=#{nomposgrado}
        ORDER BY asi.id;
        
    </select>
    
    <select parameterType="map" id="consultarPosgrados" resultMap="PosgradoResult">
        SELECT
        
        pos.id,
        pos.nombre
        
	FROM posgrado as pos;
        
    </select>
    
    
     <select parameterType="map" id="registrarPosgrado">
        INSERT INTO Posgrado(nombre,creditos) VALUES (#{nompos},#{credit});
    </select>
     <insert parameterType="map" id="registrarAsignatura">
         <selectKey keyProperty="id" resultType="int" order="BEFORE">
             SELECT pos.id FROM posgrado as pos WHERE pos.nombre=#{nomposgrado};
         </selectKey>
        INSERT INTO Asignatura(nombre,posgrado_id) VALUES (#{nomasig},#{id});
    </insert>
    
    <resultMap type="Asignatura" id="AsignaturaResult">
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <association property="posgrado_id" javaType="Posgrado" columnPrefix="POS_" resultMap="PosgradoResult"></association>
    </resultMap>
    
    <resultMap type="Posgrado" id="PosgradoResult" >
        <id property='id' column='id'/>
        <result property='nombre'  column='nombre'/>
        <result property='creditos'  column='creditos'/>
    </resultMap>
</mapper>
