<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="proyecto.dao.mybatis.mappers.AsignaturaMapper">
    
    <select parameterType="map" id="consultarAsignaturas" resultMap="AsignaturaResult">
        SELECT
        
        asi.id,
        asi.nombre,
        pos.id as POS_id,
        pos.nombre as POS_nombre,
        pos.creditos as POS_creditos
        
	FROM Asignatura as asi
        join Posgrado as pos on asi.Posgrado_id=pos.id;
        
        
    </select>
    
    <resultMap type="Asignatura" id="AsignaturaResult">
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <association property="posgrado" javaType="Posgrado" columnPrefix="POS_" resultMap="PosgradoResult"></association>
    </resultMap>
    
    <resultMap type="Posgrado" id="PosgradoResult">
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='creditos' column='creditos'/>
        
    </resultMap>
    
    
    
</mapper>
