<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.


-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="proyecto.dao.mybatis.mappers.ClaseMapper">
   
    <select parameterType="map" id="consultarClase" resultMap="ClaseResult">
        SELECT
        
        cla.id,
        cla.hora_inicio,
        cla.hora_fin,
        cla.fecha,
        
        co.id as CO_id,
        co.fecha_inicio CO_fecha_inicio,
        co.fecha_fin CO_fecha_fin,
        
        mat.nombre as MAT_nombre
        
	FROM clase as cla 
        join materia as mat on mat.sigla=cla.materia_sigla
        join cohorte as co on co.id=cla.cohorte_id;
    </select>
    
    <select parameterType="map" id="consultarClaseXperiodo" resultMap="ClaseResult">
        SELECT
        
        cla.id,
        cla.hora_inicio,
        cla.hora_fin,
        cla.fecha,
        
        co.id as CO_id,
        
        pro.documento as PRO_documento,
        pro.nombre as PRO_nombre,
        
        mat.sigla as MAT_sigla,
        mat.nombre as MAT_nombre,
        mat.creditos as MAT_creditos,
        
        asi.id as MAT_ASI_id,
        asi.nombre as MAT_ASI_nombre,
        
        pos.id as MAT_ASI_POS_id,
        pos.nombre as MAT_ASI_POS_id
        
	FROM clase as cla 
        join materia as mat on mat.sigla=cla.materia_sigla
        join cohorte as co on co.id=cla.cohorte_id
        join Asignatura as asi on mat.Asignatura_id = asi.id
        join Posgrado as pos on asi.Posgrado_id = pos.id 
        join periodo as per on per.periodo=co.periodo_periodo
        join profesor as pro on pro.documento=cla.profesor_documento
        
        WHERE per.periodo = #{periodo}
        ORDER BY asi.id, co.id, cla.fecha
    </select>
    
    <select parameterType="map" id="consultarFechas" resultMap="fecha">
         SELECT
            cla.fecha

        FROM clase as cla 
        join cohorte as co on co.id=cla.cohorte_id
        join periodo as per on co.periodo_periodo=per.periodo
        
	WHERE per.periodo=#{periodo}
        GROUP BY cla.fecha
    </select>
    
    <resultMap type='Clase' id='ClaseResult'>
        <id property='id' column='id'/>
        <result property='hora_inicio' column='hora_inicio'/>
        <result property='hora_fin' column='hora_fin'/>   
        <result property='fecha' column='fecha'/>      
        <association property="cohorte_id" javaType="Cohorte" columnPrefix='CO_' resultMap='proyecto.dao.mybatis.mappers.CohorteMapper.CohorteResult'></association>      
        <association property="materia_sigla" javaType="Materia" columnPrefix='MAT_' resultMap='proyecto.dao.mybatis.mappers.MateriaMapper.MateriaResult'></association> 
        <association property="profesor_documento" javaType="Profesor" columnPrefix='PRO_' resultMap='proyecto.dao.mybatis.mappers.ProfesorMapper.ProfesorResult'></association>      

    </resultMap>
    
    <resultMap id="fecha" type="Date">
    </resultMap>
    
    
</mapper>