<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.


-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.posgrado.dao.mybatis.mappers.ClaseMapper">
   
    <select parameterType="map" id="consultarClase" resultMap="ClaseResult">
        SELECT
        
        cla.id,
        cla.hora_inicio,
        cla.hora_fin,
        cla.fecha,
        
        co.id as CO_id,
        
        mat.nombre as MAT_nombre
        
	FROM clase as cla 
	join materia as mat on mat.sigla=cla.materiacohorte_materia_sigla
        join cohorte as co on co.id=cla.materiacohorte_cohorte_id 
	join periodo as per on co.periodo_periodo=per.periodo;
    </select>
    
    <select parameterType="map" id="consultarClaseXperiodo" resultMap="ClaseResult">
        SELECT
        
        cla.id,
        cla.hora_inicio,
        cla.hora_fin,
        cla.fecha,
        
        co.id as CO_id,
        
        pro.documento as PRO_documento,
        pro.nombre as PRO_nombre,
        
        mat.sigla as MAT_sigla,
        mat.nombre as MAT_nombre,
        mat.creditos as MAT_creditos,
        
        asi.id as MAT_ASI_id,
        asi.nombre as MAT_ASI_nombre,
        
        pos.id as MAT_ASI_POS_id,
        pos.nombre as MAT_ASI_POS_nombre
        
	FROM clase as cla 
        join materia as mat on mat.sigla=cla.materiacohorte_materia_sigla
        join cohorte as co on co.id=cla.materiacohorte_cohorte_id
        join Asignatura as asi on mat.Asignatura_id = asi.id
        join Posgrado as pos on asi.Posgrado_id = pos.id 
        join periodo as per on per.periodo=co.periodo_periodo
        join profesor as pro on pro.documento=cla.materiacohorte_profesor_documento
        
        WHERE per.periodo = #{periodo}
        ORDER BY asi.id, co.id, cla.fecha
    </select>
    
    <select parameterType="map" id="consultarFechas" resultType="Date">
        SELECT
            cla.fecha

        FROM clase as cla 
        join cohorte as co on co.id=cla.materiacohorte_cohorte_id
        join periodo as per on co.periodo_periodo=per.periodo
        
	WHERE per.periodo=#{periodo}
        GROUP BY cla.fecha
    </select>
    
    <select parameterType="map" id="consultarFechasProfesorClase" resultMap="ClaseResult">
        SELECT
            cla.fecha,
            cla.hora_inicio,
            cla.hora_fin
        FROM clase as cla 
        join cohorte as co on co.id=cla.materiacohorte_cohorte_id
        join periodo as per on co.periodo_periodo=per.periodo
        join profesor as pro on pro.documento=cla.materiacohorte_profesor_documento
	WHERE per.periodo=#{periodo} and pro.nombre=#{nomprof} and cla.fecha=#{date}
        ORDER BY cla.fecha;
    </select>
    
    <select parameterType="map" id="consultarFechasRecursoClase" resultMap="ClaseResult">
        SELECT    
            cla.id ,
            cla.fecha ,
            cla.hora_inicio ,
            cla.hora_fin,
	    mat.nombre as MAT_nombre
	FROM recurso as rec 
        join recursoclase as reccla on rec.id=reccla.recurso_id
        join clase as cla on cla.id=reccla.clase_id
	join materia as mat on cla.materiacohorte_materia_sigla=mat.sigla
        WHERE rec.id=#{idrec}
        ORDER BY cla.fecha;
    </select>
    
    <select parameterType="map" id="consultarClaseProfesor" resultMap="ClaseResult">
        SELECT    
                cla.id ,
                cla.fecha ,
                cla.hora_inicio ,
                cla.hora_fin

            FROM clase as cla
            join materia as mat on cla.materiacohorte_materia_sigla=mat.sigla
            join profesor as pro on pro.documento=cla.materiacohorte_profesor_documento
            WHERE cla.materiacohorte_cohorte_id=#{id} and mat.nombre=#{mat} and pro.nombre=#{profe}
            ORDER BY cla.fecha;
    </select>
    <insert parameterType="map" id="registrarClase">
        <selectKey keyProperty="idmat" resultType="String" order="BEFORE">
            SELECT mat.sigla FROM materia as mat WHERE mat.nombre=#{mat};
        </selectKey>
        INSERT INTO Clase(fecha,hora_inicio,hora_fin,materiacohorte_materia_sigla,materiacohorte_cohorte_id ,materiacohorte_profesor_documento) VALUES (#{fecha},#{hinit},#{hfin},#{idmat},#{idcor},#{docu});
    </insert>
    <resultMap type='Clase' id='ClaseResult'>
        <id property='id' column='id'/>
        <result property='hora_inicio' column='hora_inicio'/>
        <result property='hora_fin' column='hora_fin'/>   
        <result property='fecha' column='fecha'/>      
        <association property="cohorte_id" javaType="Cohorte" columnPrefix='CO_' resultMap='edu.eci.pdsw.posgrado.dao.mybatis.mappers.CohorteMapper.CohorteResult'></association>      
        <association property="materia_sigla" javaType="Materia" columnPrefix='MAT_' resultMap='edu.eci.pdsw.posgrado.dao.mybatis.mappers.MateriaMapper.MateriaResult'></association> 
        <association property="profesor_documento" javaType="Profesor" columnPrefix='PRO_' resultMap='edu.eci.pdsw.posgrado.dao.mybatis.mappers.ProfesorMapper.ProfesorResult'></association>      

    </resultMap>
    
    
    
</mapper>