<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="proyecto.dao.mybatis.mappers.CohorteMapper"> 
  
    
    <select parameterType="map" id="consultarPeriodos" resultMap="CohorteResult">
        SELECT 
            co.periodo
        FROM cohorte as co
        GROUP BY co.periodo;
    </select>
    
     <select parameterType="map" id="consultarCohorte" resultMap="CohorteResult">
        
        SELECT
            co.id,
            co.fecha_inicio,
            co.fecha_fin
            co.periodo;
        FROM Cohorte as co;
        
        
    </select>
    
    <resultMap type='Cohorte' id='CohorteResult'>
        <id property='id' column='id'/>
        <result property='fecha_inicio' column='fecha_inicio'/>
        <result property='fecha_fin' column='fecha_fin'/> 
        <result property='periodo' column='periodo'/> 
    </resultMap>
    
    
</mapper>

