<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="proyecto.dao.mybatis.mappers.CohorteMapper"> 
  
    <select parameterType="map" id="consultarPeriodos" resultType="String">
        
        SELECT
            per.periodo
        FROM periodo as per;
        
    </select>
    
    <select parameterType="map" id="consultarCorteXPeriodo" resultMap="CohorteResult">
        
        SELECT
            co.id
            
        FROM Cohorte as co 
        join periodo as per on co.periodo=per.periodo
        WHERE per.periodo=#{periodo};
        
    </select>
    <select parameterType="map" id="consultarMateriaCohorte" resultMap="CohorteResult">
        
        SELECT
            co.id
            
        FROM materiacohorte as matco
        join cohorte as co on matco.cohorte_id=co.id
        join materia as mat on matco.materia_sigla=mat.sigla
        WHERE co.periodo_periodo=#{periodo} and mat.nombre=#{nombremat}
        GROUP BY co.id;

    </select>
     <select parameterType="map" id="registrarPeriodo">
        INSERT INTO Periodo(periodo,fecha_inicio,fecha_fin) VALUES (#{periodo},#{fecha_inicio},#{fecha_fin});
    </select>
    <resultMap type='Cohorte' id='CohorteResult'>
        <id property='id' column='id'/>
        <result property='fecha_inicio' column='fecha_inicio'/>
        <result property='fecha_fin' column='fecha_fin'/> 
        <association property="periodo" javaType="Periodo" columnPrefix='PRO_' resultMap='PeriodoResult'></association> 
    </resultMap>
      <resultMap type='Periodo' id='PeriodoResult'>
        <id property='periodo' column='periodo'/>
        <result property='fecha_inicio' column='fecha_inicio'/>
        <result property='fecha_fin' column='fecha_fin'/> 
    </resultMap>
    
    <resultMap type="String" id="periodo">
    </resultMap>

</mapper>

