<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.posgrado.dao.mybatis.mappers.MateriaMapper">   
    <select parameterType="map" id="consultarMaterias" resultMap="MateriaResult">
        
        SELECT
        
        mat.sigla,
        mat.nombre,
        mat.creditos,
        mat.descripcion,
        
        asi.id as ASI_id,
        asi.nombre as ASI_nombre,
        
        pos.id as ASI_POS_id,
        pos.nombre as ASI_POS_id,
        pos.creditos as ASI_POS_id
        
        FROM Materia as mat
        join Asignatura as asi on mat.Asignatura_id = asi.id
        join Posgrado as pos on asi.Posgrado_id = pos.id      
    </select>
   
    
    <insert parameterType="map" id="registrarMateria">
         <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT asi.id FROM asignatura as asi WHERE asi.nombre=#{asig_nom};
        </selectKey>
        INSERT INTO Materia(sigla,nombre,creditos,Asignatura_id,descripcion) VALUES (#{sigla},#{nombre},#{creditos},#{id},#{descripcion})
    </insert>
    
    <select parameterType="map" id="consultarMateriasXposgrado" resultMap="MateriaResult">
        
        SELECT
        
        mat.sigla,
        mat.nombre,
        mat.creditos,
        mat.descripcion
             
        FROM materia as mat
        join asignatura as asi on mat.asignatura_id = asi.id
        join posgrado as pos on pos.id=asi.posgrado_id
        WHERE pos.nombre='#{nomposgrado}
        
    </select>
    
    <select parameterType="map" id="consultarNombresMateriasxAsignatura" resultType="string">
        
        SELECT
        
        mat.nombre
             
        FROM materia as mat
        join asignatura as asi on mat.asignatura_id = asi.id
        WHERE asi.nombre=#{asig}
    </select>
   
    <resultMap type="Materia" id="MateriaResult">
        <id property='sigla' column='sigla'/>
        <result property='nombre' column='nombre'/>
        <result property='creditos' column='creditos'/>
        <result property='descripcion' column='descripcion'/>
        <association property="asignatura_id" javaType="Asignatura" columnPrefix='ASI_' resultMap='edu.eci.pdsw.posgrado.dao.mybatis.mappers.AsignaturaMapper.AsignaturaResult' ></association>
    </resultMap> 
    
      
</mapper>