<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.posgrado.dao.mybatis.mappers.AsignaturaMapper">
    
    <select parameterType="map" id="consultarPrerrequisitos" resultMap="PrerequisitoResult">
       SELECT
       preq.materia_sigla,
       preq.prerrequisito_sigla,
       preq.correquisito,
       FROM Materia as mat 
       JOIN PrerequisitoMateria as preq ON mat.sigla=preq.materia_sigla;
        
    </select>
    
  
    
    <resultMap type="PrerrequisitoMateria" id="PrerequisitoResult">
        <id property='materia_sigla' column='materia_sigla'/>
        <id property='prerrequisito_sigla' column='prerrequisito_sigla'/>
        <result property='correquisito' column='correquisito'/>        
    </resultMap>
</mapper>
