<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proyecto.dao.mybatis.mappers.ProfesorMpper">
    
    <select parameterType="map" id="consultarProfesores" resultMap="ProfesorResult">
        SELECT
        
        pro.documento,
        pro.nombre,
        pro.correo,
        pro.telefono,
        pro.tipo_documento
        
	FROM Profesor as pro;
        
        
    </select>
    
    <resultMap type="Posgrado" id="ProfesorResult">
        <id property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property='correo' column='correo'/>
        <result property='telefono' column='telefono'/>
        <result property='tipo_documento' column='tipo_documento'/>
        
    </resultMap>
    
</mapper>
