<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.posgrado.dao.mybatis.mappers.ProfesorMapper">
    
    <select parameterType="map" id="consultarProfesores" resultMap="ProfesorResult">
        SELECT
        
        pro.documento,
        pro.nombre,
        pro.correo,
        pro.telefono,
        pro.tipo_documento
        
        FROM profesor as pro;
    </select>
    
    <select parameterType="map" id="consultarNombresProfesores" resultType="string">
        SELECT

        pro.nombre
        
        FROM profesor as pro;
    </select>
    
     <select parameterType="map" id="consultarProfesoresCohorte" resultMap="ProfesorResult">
        SELECT

            pro.documento,
            pro.nombre,
            pro.correo,
            pro.telefono,
            pro.tipo_documento
        
        FROM materiacohorte as matco
        join profesor as pro on matco.profesor_documento=pro.documento
        join materia as mat on matco.materia_sigla=mat.sigla
         
        WHERE mat.nombre=#{mate} and matco.cohorte_id=#{corte};
    </select>
    
    <select parameterType="map" id="consultarProfesor" resultMap="ProfesorResult">
        SELECT
        
            pro.documento,
            pro.nombre,
            pro.correo,
            pro.telefono,
            pro.tipo_documento
        
        FROM clase as cla 
        join materiacohorte as matco on (matco.materia_sigla=cla.materiacohorte_materia_sigla AND
        matco.cohorte_id=cla.materiacohorte_cohorte_id AND
        matco.profesor_documento=cla.materiacohorte_profesor_documento )
        join profesor as pro  on pro.documento=matco.profesor_documento
        
        WHERE cla.id = #{claid} AND
        matco.Materia_sigla = #{materia};
        

    </select>
    
    <resultMap type="Profesor" id="ProfesorResult">
        <id property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property='correo' column='correo'/>
        <result property='telefono' column='telefono'/>
        <result property='tipo_documento' column='tipo_documento'/>
    </resultMap>
</mapper>
