<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.posgrado.dao.mybatis.mappers.RecursoMapper">
    
    <select parameterType="map" id="consultarRecursoDePeriodo" resultMap="RecursoResult">
        SELECT
        
	rec.id,
        rec.recurso,
        rec.cantidad,
        rec.disponible
        
	FROM recurso as rec 
        join recursoclase as reccla on rec.id=reccla.recurso_id
        join clase as cla on cla.id=reccla.clase_id
	join cohorte as co on cla.materiacohorte_cohorte_id=co.id 
        join periodo as per on  per.periodo=co.periodo_periodo
        WHERE per.periodo=#{periodo}
        GROUP BY rec.id;
        
    </select>
    
    
    
    <select parameterType="map" id="consultarRecursos" resultMap="RecursoResult">
        SELECT
        
	rec.id,
        rec.recurso,
        rec.cantidad,
        rec.disponible
        
	FROM recurso as rec ;
    </select>
    
    <select parameterType="map" id="registrarRecurso">
        INSERT INTO recurso (recurso,disponible,cantidad) VALUES(#{recurso},true);
    </select>
    
     <select parameterType="map" id="registrarRecursosClase">
        INSERT INTO recursoclase (recurso_id,clase_id,cantidaduse) VALUES(#{idrec},#{idcla},#{cant});
         
    </select>
    <select parameterType="map" id="cantidadRecursos">
        UPDATE recurso  SET cantidad=cantidad-#{cant}  WHERE id=#{idrec}; 
    </select>
    <select parameterType="map" id="disponibleRecursos">
        UPDATE recurso  SET cantidad=0 ,disponible=false WHERE id=#{idrec} AND 0&gt;cantidad; 
    </select>
    <resultMap type='Recurso' id='RecursoResult'>
        <id property='id' column='id'/>
        <result property='nomRecurso' column='recurso'/>
        <result property='disponible' column='disponible'/> 
        <result property='cantidad' column='cantidad'/>
    </resultMap>
    
</mapper>

