<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="proyecto.dao.mybatis.mappers.RecursoMapper">
    
    <select parameterType="map" id="consultarRecursoDePeriodo" resultMap="RecursoResult">
        SELECT
        
	rec.id,
        rec.recurso,
        rec.disponible,
        
        cla.id as CLA_id,
        cla.fecha as CLA_fecha
        
	FROM recurso as rec 
        join clase as cla on cla.id=rec.clase_id
        join cohorte as co on cla.materia_cohorte_cohorte_id=co.id 
        WHERE co.periodo=#{periodo};
        
    </select>
    
    <select parameterType="map" id="consultarRecursos" resultMap="RecursoResult">
        SELECT
        
	rec.id,
        rec.recurso,
        rec.disponible,
        
        cla.fecha as CLA_fecha,
        cla.hora_inicio as CLA_hora_inicio,
        cla.hora_fin as  CLA_hora_fin
        
	FROM recurso as rec 
        join clase as cla on cla.id=rec.clase_id
        join cohorte as co on cla.materia_cohorte_cohorte_id=co.id
        
        
    </select>
    
    <select parameterType="map" id="registrarRecurso">
        INSERT INTO recurso (id,recurso,descripcion,clase_id) VALUES(#{idrec},#{recurso},#{disp},#{clase_id});
    </select>
    
    <resultMap type='Recurso' id='RecursoResult'>
        <id property='id' column='id'/>
        <result property='nomRecurso' column='recurso'/>
        <result property='disponible' column='disponible'/> 
        <result property='cantidad' column='cantidad'/>
        <association property="clase_id" javaType="Clase" columnPrefix='CLA_' resultMap='proyecto.dao.mybatis.mappers.ClaseMapper.ClaseResult'></association>      
    </resultMap>
    
</mapper>

