<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="proyecto.dao.mybatis.mappers.RecursoMapper">
    <resultMap type='Recurso' id='RecursoResult'>
        <id property='id' column='id'/>
        <result property='nomRecurso' column='recurso'/>
        <result property='disponible' column='disponible'/> 
        <association property="clase" javaType="Clase" columnPrefix='CLA_' resultMap='proyecto.dao.mybatis.mappers.ClaseMapper'></association>      
    </resultMap>
    
    <select parameterType="map" id="consultarRecursoDePeriodo" resultMap="RecursoResult">
        SELECT
        
	rec.id,
        rec.recurso,
        rec.disponible,
        cla.fecha as CLA_fecha
        
	FROM recurso as rec 
        join clase as cla on cla.id=rec.clase_id
        join cohorte as cor on cla.materia_cohorte_cohorte_id=cor.id
        
        WHERE {char(#periodo)}=cor.periodo;
        
    </select>
    
    <select parameterType="map" id="registrarRecurso">
        INSERT INTO recurso (id,recurso,descripcion,clase_id) VALUES(#{idrec},#{recurso},#{disp},#{clase_id});
    </select>
    
</mapper>

