<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>-->
    
    <typeAliases>
        <typeAlias type='proyecto.entities.Recurso' alias='Recurso'/>
        <typeAlias type='proyecto.entities.Salon' alias='Salon'/>
    </typeAliases>
        
                        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgres://kvpftasjgniefw:ae55c2da89a8d49e1578941a4c82742e83fee0da735acc2ccd3756054e3d1411@
                                            ec2-107-20-250-195.compute-1.amazonaws.com:5432/df24sjdfo0rtmu" />
                <property name="username" value="kvpftasjgniefw" />
                <property name="password" value="ae55c2da89a8d49e1578941a4c82742e83fee0da735acc2ccd3756054e3d1411" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/RecursoMapper.xml"></mapper>
        <mapper resource="mappers/SalonMapper.xml"></mapper>           
    </mappers> 
        
        
</configuration>