<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
        <typeAlias type='proyecto.entities.Recurso' alias='Recurso'/>
        <typeAlias type='proyecto.entities.Clase' alias='Clase'/>
        <typeAlias type='proyecto.entities.Materia' alias='Materia'/>
        <typeAlias type='proyecto.entities.Cohorte' alias='Cohorte'/>
        <typeAlias type='proyecto.entities.Asignatura' alias='Asignatura'/>
        <typeAlias type='proyecto.entities.Profesor' alias='Profesor'/>
        <typeAlias type='proyecto.entities.Posgrado' alias='Posgrado'/>
    </typeAliases>
       
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-23-21-246-11.compute-1.amazonaws.com:5432/dasd80qatocrac?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/> 
                <property name="username" value="tozmvdhrkkvroa" />
                <property name="password" value="ae7d0de6a793a4907667e66ad6535a43c84a5449c17df2a49b9ececf40736879" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/RecursoMapper.xml"></mapper>
        <mapper resource="mappers/CohorteMapper.xml"></mapper>  
        <mapper resource="mappers/ClaseMapper.xml"></mapper> 
        <mapper resource="mappers/ProfesorMapper.xml"></mapper>
        <mapper resource="mappers/MateriaMapper.xml"></mapper>  
        <mapper resource="mappers/AsignaturaMapper.xml"></mapper>
    </mappers>
</configuration>