/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/05/2017, 04:29:45 PM
    Author     : Brandon
*/

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;  
}
/*Imagen de inicio*/
img {
    display: block;
    max-width: 70%;
    height: auto;   
    position: absolute;
    margin-left: 300px;
}

.item {
    background: #ffffff;
    height: 100px;
    background-size: cover;
    left: 600px;   
}

.contenedor{
    background: #ffffff;
    height: 20px;  
}

.contenido{
    background: #ffffff;
    height: 230px;  
}

/*ESTILOS*/

/*Fuente barra navegacion*/
nav{
    font-family: "Roboto", sans-serif;
}

/* Quitar los puntos de ul*/
nav ul {
    list-style: none;
    padding: 0;
}

/*Borde de la barra menu*/
.menuColor{
    border-top: 10px solid #820000; 
}

/*Quitar hipervinculos*/
/*Color Texto*/
nav a{
    text-decoration: none;
    display: block;
    padding: 0 2.5em;
    color: #fcfdff;
    transition: 0.4s;
}

/*Altura Barra*/
nav li{
    line-height: 3rem;
}

/*Fondo de la barra*/
nav > ul {
   display: table;
   background: #3d3e3f;
   width: 100%;
}

/*Acomoda todo en forma horizontal*/
nav > ul > li {
    float: left;
}

/*Mouse sobre la barra*/
nav a:hover {
    background: rgba(252, 17, 17, 0.5);
}

/*SUBMENU*/

/*Evita que el submenu se afecte*/
/*Evita que el submenu aparesca sin pasar un mouse*/
nav li ul{
    position: absolute;
    display: none;
}

/*Fondo submenus*/
.MenuInicio{
    background: #820000;
}

.registrarMat{
    background: #078393;
}

/*Mostrar submenu al pasar el mouse*/
nav li:hover > ul {
    display: block;
}

/*Menu Programas*/
nav ul ul ul{
    left: 100%;
    top: 0;
    width: 200%;
}
/*Fondo imagen*/
.imageF{
    background-image: url("/resources/f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Registrar materias*/
.p1{
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size: 30px;  
   font-weight: bold;
   color: red;
   padding: 0 2.5rem;
   margin-bottom: 0.2em;
}

.nmStyle{
   font-family: "Arial", cursive, sans-serif;
   font-size: 20px;  
   font-weight: bold;
   color: #4f4e4e;

   display: block;
}

.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.bloquef{
    background-image: url("/resources/escuela.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #343638;
  color: #ffffff;
  text-align: center;
  font: 14px Verdana, sans-serif !important;
}


table  tr >  td > ul li b {
    font: 14px Verdana, sans-serif !important;
    color: #ffffff;
    font-weight: bold !important;
    margin: 10px;
    margin-top: 10px;
    vertical-align: top;
}

/*Transparencias tabla*/

.leftF{
    background-color: rgba(0, 0, 0,.5);
    width: 20%;
    margin: 0;
   
}

.centerF{
    background-color: rgba(0, 0, 0,.5);
    height: 600px;
    width: 60%; 
}

.rightF{
    background-color: rgba(0, 0, 0,.5);
    width: 20%;
   
}

table tr td{
    vertical-align: top;
    padding: 2rem 1rem;
}

table  tr >  td > ul li ul {
    font: 14px Verdana, sans-serif !important;
    color: #ffffff;
    margin: 30px;
    margin-top: 10px;
    vertical-align: top;
}

table ul {
    list-style-type: none;
}

table  tr >  td > ul li ul li:hover{
   color: #c60505;
   cursor: pointer;
}

table{
    width: 100%;
    border: 0;
}


.espeT{
    font: 40px 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important; 
    color: #990000;
    margin-left: 2rem;
    border-bottom: double #555;
}

article {
    margin-left: 3em;
    padding: 1em;
    overflow: hidden;
}

h1{
    font-family: tahoma;
    color: #ff0000;
    border-bottom: double #555;
}

h2{
    font: 16px verdana, sans-serif !important;
    font-weight: bold !important;
    color: #cecece;
    border-bottom: double #555;
}

h3{
    font: 13px verdana, sans-serif !important;
    color: #ff0000;
    font-weight: bold !important;
    margin-left: 4rem;
}

p.text{
    margin: 1rem 0;
    color: #f2f2f2; 
    font-family: verdana; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 24px;
    text-align: justify;
}

article{
    color: blue;
    list-style-type: none;
}

article > li{
    color: #ffffff;
    font-size: 13px;
    font-family: verdana; 
    font-weight: bold !important;
    margin-left: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.materias{
    color: #ffffff;
    font-family: verdana;
    font-size: 13px;
    margin-left: 5rem;

}

#bar{
    background: #a00909;
    position: absolute;
    width: 100%;
    display: block;
    text-align: left;
    padding: 20px;
}

.command{
    color: #ffffff;
    text-decoration: none;
    font: 14px Verdana, sans-serif !important;
}

.command:hover{
    color: #aaaaaa;
}

.p2{
    font: 14px Verdana, sans-serif !important;
    color: #cecece;
    margin-left: 2rem;
}