/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/05/2017, 04:29:45 PM
    Author     : Brandon
*/

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    position: absolute;
    
}
/*Imagen de inicio*/
img {
    display: block;
    max-width: 70%;
    height: auto;   
    position: absolute;
    margin-left: 300px;
}

.item {
    background: #ffffff;
    height: 100px;
    background-size: cover;
    left: 600px;   
}

.contenedor{
    background: #ffffff;
    height: 80px;  
}

.contenido{
    background: #ffffff;
    height: 230px;  
}

/*ESTILOS*/

/*Fuente barra navegacion*/
nav{
    font-family: "Roboto", sans-serif;
}

/* Quitar los puntos de ul*/
nav ul {
    list-style: none;
    padding: 0;
}

/*Borde de la barra*/
nav > ul{
    border-top: 10px solid #031b54; 
}

/*Quitar hipervinculos*/
/*Color Texto*/
nav a{
    text-decoration: none;
    display: block;
    padding: 0 2.5em;
    color: #fcfdff;
    transition: 0.4s;
}

/*Altura Barra*/
nav li{
    line-height: 3rem;
}

/*Fondo de la barra*/
nav > ul {
   display: table;
   background: #3d3e3f;
   width: 100%;
}

/*Acomoda todo en forma horizontal*/
nav > ul > li {
    float: left;
}

/*Mouse sobre la barra*/
nav a:hover {
    background: rgba(0, 185, 252,0.5);
}

/*SUBMENU*/

/*Evita que el submenu se afecte*/
/*Evita que el submenu aparesca sin pasar un mouse*/
nav li ul{
    position: absolute;
    display: none;
}

/*Fondo submenus*/
nav li li{
    background: #031b54;
}

/*Mostrar submenu al pasar el mouse*/
nav li:hover > ul {
    display: block;
}

/*Menu Programas*/
nav ul ul ul{
    left: 100%;
    top: 0;
    width: 200%;
}
/*Fondo imagen*/
.imageF{
    background-image: url("/resources/f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Registrar materias*/
p{
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size: 30px;  
   font-weight: bold;
   color: red;
   padding: 0 2.5rem;
}
